*Instructions*
---------------
Before starting to work, please extract data from data_02.zip to a folder called **data** located at the same level that this notebook.

# 2) Loading and saving data

In [7]:
import pandas as pd
import numpy as np

## Loading CSV

In [3]:
input_path = '/home/dsc/Data/us_dot/traffic/'
filename = 'T100_SEGMENT_ALL_CARRIER_2015.zip'
file = input_path + filename

In [4]:
! ls $file

/home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip

In [5]:
! unzip -o $file

Archive:  /home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv

In [6]:
notebook_file_path = '914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv'

In [7]:
! ls -lrt

total 50876
-rw-r--r-- 1 dsc dsc     4268 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv
-rw-r--r-- 1 dsc dsc     4341 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
-rw-r--r-- 1 dsc dsc 51575427 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
-rw-r--r-- 1 dsc dsc   374081 ene 12 10:14 01-numpy_pandas_introduction-clean.ipynb
-rw-r--r-- 1 dsc dsc   115591 ene 12 10:42 02-loading_and_saving_data_2018_04_14-clean.ipynb

First, we need to prepare one csv file to read!

In [8]:
! ls ./data #not working on windows

ls: cannot access './data': No such file or directory

In [9]:
! unzip ./data/T100_SEGMENT_ALL_CARRIER_2015.zip #not working on windows

unzip:  cannot find or open ./data/T100_SEGMENT_ALL_CARRIER_2015.zip, ./data/T100_SEGMENT_ALL_CARRIER_2015.zip.zip or ./data/T100_SEGMENT_ALL_CARRIER_2015.zip.ZIP.

In [10]:
! ls -lrt ./

total 50876
-rw-r--r-- 1 dsc dsc     4268 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv
-rw-r--r-- 1 dsc dsc     4341 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
-rw-r--r-- 1 dsc dsc 51575427 nov  8  2015 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
-rw-r--r-- 1 dsc dsc   374081 ene 12 10:14 01-numpy_pandas_introduction-clean.ipynb
-rw-r--r-- 1 dsc dsc   115591 ene 12 10:42 02-loading_and_saving_data_2018_04_14-clean.ipynb

In [111]:
#Defining path to CSV file
my_file_path='914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv'

In [112]:
#Reading file and saving in df
df = pd.read_csv(my_file_path)
df.head(10)

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,...,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,...,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,...,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN
5,0.0,1.0,264.0,11.0,1.0,0.0,0.0,3934.0,0.0,0.0,...,6,669,1,2015,1,1,8,L,IF,NaN
6,0.0,1.0,5619.0,12.0,1.0,0.0,0.0,3678.0,0.0,0.0,...,6,658,1,2015,1,1,8,L,IF,NaN
7,0.0,1.0,5150.0,14.0,5.0,0.0,0.0,5341.0,0.0,0.0,...,6,658,1,2015,1,1,11,L,IF,NaN
8,0.0,1.0,5619.0,12.0,1.0,0.0,0.0,3678.0,0.0,0.0,...,6,658,1,2015,1,1,8,L,IF,NaN
9,0.0,1.0,5150.0,14.0,6.0,0.0,0.0,93.0,0.0,0.0,...,6,658,1,2015,1,1,1,L,DF,NaN

In [13]:
df.describe()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,DEST_STATE_FIPS,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,Unnamed: 50
count,146938.000000,146938.000000,1.469380e+05,146938.000000,146938.000000,1.469380e+05,146938.000000,146938.000000,146938.000000,146938.000000,...,133000.000000,146938.000000,146938.000000,146938.000000,146938.000000,146938.0,146938.000000,146938.000000,146938.000000,0.0
mean,20.091270,22.263002,7.817593e+05,2385.648035,1899.964339,9.782733e+04,2932.011161,989.309096,2806.873573,2339.063170,...,24.509098,85.621854,5.500252,595.634410,1.176585,2015.0,1.251739,2.504043,2.530169,NaN
std,36.850212,35.603689,1.400154e+06,4500.311182,3673.630008,5.223834e+05,19062.246309,1185.712296,5049.683558,4391.945531,...,17.847929,158.078243,1.576414,161.396262,0.458067,0.0,0.434013,1.121343,2.347791,NaN
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,10.000000,1.000000,2015.0,1.000000,1.000000,1.000000,NaN
25%,0.000000,1.000000,3.500000e+04,50.000000,11.000000,0.000000e+00,0.000000,272.000000,114.000000,90.000000,...,8.000000,23.000000,6.000000,614.000000,1.000000,2015.0,1.000000,1.000000,1.000000,NaN
50%,4.000000,8.000000,2.179555e+05,450.000000,312.000000,0.000000e+00,0.000000,636.000000,670.000000,538.000000,...,22.000000,43.000000,6.000000,629.000000,1.000000,2015.0,1.000000,3.000000,2.000000,NaN
75%,27.000000,29.000000,9.908450e+05,3066.000000,2380.000000,3.718750e+03,0.000000,1189.000000,3527.000000,2791.000000,...,39.000000,82.000000,6.000000,677.000000,1.000000,2015.0,2.000000,4.000000,3.000000,NaN
max,822.000000,815.000000,4.052840e+07,98382.000000,75216.000000,3.512707e+07,914525.000000,8569.000000,138379.000000,124124.000000,...,78.000000,961.000000,8.000000,890.000000,4.000000,2015.0,2.000000,4.000000,18.000000,NaN

In [14]:
! cat '914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv'

"SYS_FIELD_NAME"," FIELD_DESC",
"YEAR","Year",
"QUARTER","Quarter (1-4)",
"MONTH","Month",
"ORIGIN_AIRPORT_ID","Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.",
"ORIGIN_AIRPORT_SEQ_ID","Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.",
"ORIGIN_CITY_MARKET_ID","Origin Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.",
"ORIGIN","Origin Airport Code",
"ORIGIN_CITY_NAME","Origin Airport, City Name",
"ORIGIN_STATE_ABR","Origin Airport, State",
"ORIGIN_STATE_FIPS","Origin Airport, State FIPS Code (U.S. Federal Information Processing Standard Codes)",
"ORIGIN_STATE_NM","Origin Airport, State Name",
"ORIGIN_COUNTRY","Origin Airport, Country",
"ORIGIN_COUNTRY_NAME","Origin Airport, Country Name",
"DEST_AIRPORT_ID","Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.",
"DEST_AIRPORT_SEQ_ID","Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.",
"DEST_CITY_MARKET_ID","Destination Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.",
"ORIGIN_WAC","Origin Airport, World Area Code",
"DEST","Destination Airport Code",
"DEST_CITY_NAME","Dest Airport, City Name",
"DEST_STATE_ABR","Destination Airport, State",
"DEST_STATE_FIPS","Destination Airport, State FIPS Code (U.S. Federal Information Processing Standard Codes)",
"DEST_STATE_NM","Destination Airport, State Name",
"DEST_COUNTRY","Destination Airport, Country",
"DEST_COUNTRY_NAME","Destination Airport, Country Name",
"DEST_WAC","Destination Airport, World Area Code",
"UNIQUE_CARRIER","Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.",
"AIRLINE_ID","An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.",
"UNIQUE_CARRIER_NAME","Unique Carrier Name. When the same name has been used by multiple carriers, a numeric suffix is used for earlier users, for example, Air Caribbean, Air Caribbean (1).",
"UNIQUE_CARRIER_ENTITY","Unique Entity for a Carrier's Operation Region.",
"REGION","Carrier's Operation Region. Carriers Report Data by Operation Region",
"CARRIER","Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique. For analysis, use the Unique Carrier Code.",
"CARRIER_NAME","Carrier Name",
"CARRIER_GROUP","Carrier Group Code.  Used in Legacy Analysis",
"CARRIER_GROUP_NEW","Carrier Group New",
"DISTANCE_GROUP","Distance Intervals, every 500 Miles, for Flight Segment",
"CLASS","Service Class",
"AIRCRAFT_GROUP","Aircraft Group",
"AIRCRAFT_TYPE","Aircraft Type",
"AIRCRAFT_CONFIG","Aircraft Configuration",
"DEPARTURES_SCHEDULED","Departures Scheduled",
"DEPARTURES_PERFORMED","Departures Performed",
"PAYLOAD","Payload, in Pounds",
"SEATS","Available Seats",
"PASSENGERS","Non-Stop Segment Passengers Transported",
"FREIGHT","Non-Stop Segment Freight Transported (pounds)",
"MAIL","Non-Stop Segment Mail Transported (pounds)",
"DISTANCE","Distance between airports (miles)",
"RAMP_TO_RAMP","Ramp-to-Ramp Time, in Minutes",
"AIR_TIME","Air Time, in Minutes",
"DATA_SOURCE","Source of Data (D=Domestic ,I=International)",

In [15]:
#df?

In [16]:
#Number of rows on Dataframe
len(df)

146938

Make some operations with the df

In [17]:
df[df['DEPARTURES_PERFORMED'] > 50].head(10)

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,0.0,...,6,627,1,2015,1,1,9,F,IF,NaN
42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,0.0,...,6,627,1,2015,1,1,9,F,IF,NaN
158,0.0,51.0,2706103.0,17384.0,13517.0,0.0,0.0,2002.0,0.0,0.0,...,6,627,1,2015,1,1,5,F,IF,NaN
159,0.0,51.0,2751949.0,17384.0,13746.0,0.0,0.0,2002.0,0.0,0.0,...,6,627,1,2015,1,1,5,F,IF,NaN
181,0.0,62.0,9292527.0,20584.0,16739.0,1505486.0,0.0,6504.0,0.0,0.0,...,6,637,1,2015,1,1,14,F,IF,NaN
186,0.0,62.0,9256991.0,20584.0,19123.0,1847391.0,0.0,6504.0,0.0,0.0,...,6,637,1,2015,1,1,14,F,IF,NaN
199,0.0,184.0,25907200.0,0.0,0.0,23870728.0,0.0,1506.0,0.0,0.0,...,6,696,2,2015,1,1,4,G,IF,NaN
201,0.0,62.0,8729600.0,0.0,0.0,7389870.0,0.0,1388.0,0.0,0.0,...,6,696,2,2015,1,1,3,G,IF,NaN
205,0.0,134.0,18867200.0,0.0,0.0,9486624.0,0.0,1506.0,0.0,0.0,...,6,696,2,2015,1,1,4,G,IF,NaN
212,0.0,59.0,4517040.0,17818.0,14384.0,309318.0,0.0,4661.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN

In [18]:
df[df['DEPARTURES_PERFORMED'] > 50]['PAYLOAD'].head(10)

37      5365411.0
42      5365411.0
158     2706103.0
159     2751949.0
181     9292527.0
186     9256991.0
199    25907200.0
201     8729600.0
205    18867200.0
212     4517040.0
Name: PAYLOAD, dtype: float64

In [19]:
df[df['DEPARTURES_PERFORMED'] > 50]['PAYLOAD'].sum()

50535573064.0

In [20]:
%%timeit
df[df['DEPARTURES_PERFORMED'] > 50]['PAYLOAD'].sum()

22.7 ms ± 1.26 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
len(df[df['DEPARTURES_PERFORMED'] > 50])

In order to download a file using Python, the use of requests module is recommended

In [ ]:
#!wget -o http://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls

### Example:

In [21]:
import requests
#url="http://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv"
url = 'http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/CAN.csv'
response = requests.get(url)
if response.status_code != 200:
    print('Failed to get data:', response.status_code)
else:
    print('First 100 characters of data are')
    print(response.text[:100])

First 100 characters of data are
year,data
1901,-7.67241907119751
1902,-7.862711429595947
1903,-7.910782814025879
1904,-8.15572929382

In [22]:
import requests
my_path="http://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv"
multas_response = requests.get(my_path)

In [16]:
! wget 'http://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv'

--2019-01-12 11:34:17--  http://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv
Resolving datos.madrid.es (datos.madrid.es)... 149.235.17.74
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv [following]
--2019-01-12 11:34:17--  https://datos.madrid.es/egob/catalogo/210104-180-multas-circulacion-detalle.csv
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://datos.madrid.es:443/datosabiertos/MULTAS/2017/12/201712_detalle.csv [following]
--2019-01-12 11:34:17--  https://datos.madrid.es/datosabiertos/MULTAS/2017/12/201712_detalle.csv
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 53252030 (51M) [text/csv]
Saving to: ‘210104-180-multas-circulacion-detalle.csv’

210104-180-multas-c 100%[===================>]  50,78M  1,04MB/s    in 45s

2019-01-12 11:35:03 (1,12 MB/s) - ‘210104-180-multas-circulacion-detalle.csv’ saved [53252030/53252030]

In [2]:
multas_response

NameError: name 'multas_response' is not defined

In [21]:

multas_path = '210104-180-multas-circulacion-detalle.csv'
#multas_file = open(multas_path, 'wb')
#multas_file.write(multas_response.content)
#multas_file.close()

In [22]:
! wc -l {multas_path} #unix

204816 210104-180-multas-circulacion-detalle.csv

In [10]:
%pwd

'/home/dsc/Repos/numpy-pandas-notebook/Solved'

In [23]:
! head -n 5 {multas_path} #unix

Con el encoding latin-1 nos ahorramos problemas con caracteres acentuados.

In [24]:
df_multas = pd.read_csv(multas_path, sep=';', encoding='latin-1')
df_multas.head(20)

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,LUIS DE HOYOS SAINZ FTE 196,12,2017,13.00,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
1,LEVE,AEROPUERTO SALIDA T 1,12,2017,12.10,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
2,GRAVE,CTRA CANILLAS 2,12,2017,11.30,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN ZONA SEÑALIZADA PARA USO EXCLUSI...,,,,
3,GRAVE,"M 30 NL KM 13,250 CARRIL 3",12,2017,6.21,500.0,SI,6,POLICIA MUNICIPAL,SOBREPASAR LA VELOCIDADMÁXIMA EN VÍAS LIMITADA...,70,131,,
4,LEVE,CL ORENSE 24,12,2017,17.42,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
5,GRAVE,PO GENERAL SAGARDIA RAMOS 16,12,2017,7.08,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR OBSTACULIZANDO LA UTILIZACIÓN DE UN...,,,,
6,LEVE,AEROPUERTO SALIDA T 1,12,2017,12.15,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
7,GRAVE,CL ORENSE 8,12,2017,18.08,200.0,SI,0,SER,ESTACIONAR EN CARRIL DE CIRCULACION. ...,,,,
8,GRAVE,AV BADAJOZ 10,12,2017,3.45,200.0,SI,0,POLICIA MUNICIPAL,CONDUCCION NEGLIGENTE: CIRCULABA DE DERECHA A ...,,,,
9,GRAVE,VILLABLANCA 29,12,2017,20.21,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN ZONA SEÑALIZADA PARA USO EXCLUSI...,,,,
10,LEVE,AEROPUERTO LLEGADA T 1,12,2017,17.00,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
11,LEVE,AEROPUERTO SALIDA T 1,12,2017,18.16,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
12,LEVE,AV BRASIL 1,12,2017,12.47,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
13,LEVE,CL ORENSE 16,12,2017,18.58,30.0,SI,0,SER,ESTACIONAR CON AUTORIZACIÓN EN LUGAR HABILITAD...,,,,
14,GRAVE,"M 30 KM 6,700 CALZADA 1",12,2017,5.43,500.0,SI,6,POLICIA MUNICIPAL,SOBREPASAR LA VELOCIDADMÁXIMA EN VÍAS LIMITADA...,90,154,,
15,LEVE,AV BRASIL 2,12,2017,12.50,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
16,LEVE,AV BRASIL 1,12,2017,12.55,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
17,LEVE,AV GENERAL PERON 27,12,2017,13.06,30.0,SI,0,SER,ESTACIONAR CON AUTORIZACIÓN EN LUGAR HABILITAD...,,,,
18,LEVE,BAILEN FTE 19,12,2017,14.50,60.0,SI,0,POLICIA MUNICIPAL,NO ADVERTIR LA MANIOBRAAL RESTO DE USUARIOS DE...,,,,
19,GRAVE,VILLARDONDIEGO 18,12,2017,17.10,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR OBSTACULIZANDO LA UTILIZACIÓN NORMA...,,,,

In [38]:
df_multas['CALIFICACION'].unique()

array(['LEVE      ', 'GRAVE     ', 'MUY GRAVE '], dtype=object)

In [47]:
df_multas[df_multas['CALIFICACION'].str.strip() ==  'MUY GRAVE']

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
65717,MUY GRAVE,M 11 PO CASTELLANA,12,2017,8.45,1000.0,SI,6,POLICIA MUNICIPAL,INCUMPLIR LA OBLIGACIÓNDE SOMETERSE A LAS PRUE...,,,,
66324,MUY GRAVE,HARTZENBUSCH-CARD. CISNEROS,12,2017,11.26,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
66596,MUY GRAVE,ISAAC PERAL 42,12,2017,11.49,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
66717,MUY GRAVE,GRAN VIA 63,12,2017,12.05,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
70365,MUY GRAVE,PO DELICIAS 54,12,2017,9.17,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
71558,MUY GRAVE,MARQ.VALDEIGL. 4,12,2017,16.42,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
71966,MUY GRAVE,PRINCI.VERGARA 253,12,2017,8.51,1000.0,SI,6,AGENTES DE MOVILIDAD,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
72700,MUY GRAVE,PZ ESPAÑA 1,12,2017,13.15,1000.0,SI,6,AGENTES DE MOVILIDAD,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
72730,MUY GRAVE,RIB.CURTIDORES-FRAY C GLEZ,12,2017,13.27,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
73307,MUY GRAVE,BAILEN-MAYOR,12,2017,16.19,500.0,SI,6,AGENTES DE MOVILIDAD,CONDUCCION TEMERARIA ...,,,,
73497,MUY GRAVE,SANTA ENGRACIA 28,12,2017,10.49,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
73559,MUY GRAVE,ECHEGARAY 28,12,2017,11.00,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
94287,MUY GRAVE,DOCTOR MARAÑON S/N,12,2017,18.37,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
94652,MUY GRAVE,AV GRAL. PERON 36,12,2017,12.40,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
94664,MUY GRAVE,MATEO INURRIA F 29,12,2017,9.12,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
94666,MUY GRAVE,MATEO INURRIA F 29,12,2017,9.09,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
94667,MUY GRAVE,MATEO INURRIA F 29,12,2017,9.08,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
113953,MUY GRAVE,MARQUES CUBAS 12,12,2017,9.03,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
114305,MUY GRAVE,MARQ.VALDEIGL. 2,12,2017,19.55,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
114413,MUY GRAVE,PZ COLON-GOYA,12,2017,20.16,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
140106,MUY GRAVE,PZ PROVINCIA S/N,12,2017,20.41,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
140418,MUY GRAVE,BRAVO MURILLO 102,12,2017,9.49,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
140422,MUY GRAVE,BRAVO MURILLO 102,12,2017,14.02,500.0,SI,6,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
140719,MUY GRAVE,PARAGUAY F 3,12,2017,18.10,500.0,SI,0,AGENTES DE MOVILIDAD,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
140978,MUY GRAVE,A 3 AV GRAN VIA DEL SURESTE,12,2017,3.25,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
141039,MUY GRAVE,TOLEDO 75,12,2017,9.37,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
141090,MUY GRAVE,HOSPITAL CLINICO,12,2017,22.48,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
141107,MUY GRAVE,AV MORATALAZ 121,12,2017,19.10,500.0,SI,0,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
141118,MUY GRAVE,DOMINGO PARRAGA,12,2017,2.40,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
141129,MUY GRAVE,IRUN SN,12,2017,5.01,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204592,MUY GRAVE,AV RAMON Y CAJAL M 30,12,2017,22.06,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204656,MUY GRAVE,GTA OLGA RAMOS,12,2017,4.15,1000.0,SI,6,POLICIA MUNICIPAL,INCUMPLIR LA OBLIGACIÓNDE SOMETERSE A LAS PRUE...,,,,
204658,MUY GRAVE,PO CASTELLANA 142,12,2017,9.15,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204659,MUY GRAVE,PZ SAGRADOS CORAZONES,12,2017,6.45,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
204683,MUY GRAVE,TRESETA 3,12,2017,16.10,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
204692,MUY GRAVE,AV GRAN VIA DE HORTALEZA 5,12,2017,2.48,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204693,MUY GRAVE,ESTOCOLMO 20,12,2017,3.00,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204695,MUY GRAVE,AV SANTUARIO DE VALVERDE 70,12,2017,5.01,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204696,MUY GRAVE,CALASPARRA 6,12,2017,21.49,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204697,MUY GRAVE,BULEVAR JOSE PRAT 30,12,2017,21.40,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
204698,MUY GRAVE,BULEVAR JOSE PRAT 30,12,2017,21.45,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
204709,MUY GRAVE,PAYASO FOFO-ARROYO DEL OLIVAR,12,2017,2.00,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204711,MUY GRAVE,JOSÉ BARDASANO BAOS S/N,12,2017,21.15,500.0,SI,6,POLICIA MUNICIPAL,CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO. ...,,,,
204717,MUY GRAVE,AV GRAN VIA DEL ESTE 1,12,2017,1.20,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204718,MUY GRAVE,TRESETA 66,12,2017,9.20,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204719,MUY GRAVE,SAN CIRIACO 18,12,2017,1.30,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204722,MUY GRAVE,PLOMO 14,12,2017,0.50,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204723,MUY GRAVE,LA DEL MANOJO ROSAS-CHULAPONA,12,2017,18.13,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204724,MUY GRAVE,ALCALA 35,12,2017,3.00,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204725,MUY GRAVE,ALCALA 37,12,2017,1.20,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204726,MUY GRAVE,PO CASTELLANA-PZ CASTILLA,12,2017,7.25,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204727,MUY GRAVE,PZ CASTILLA-PO CASTELLANA,12,2017,8.55,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204728,MUY GRAVE,AV ANDALUCIA 32,12,2017,9.50,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204729,MUY GRAVE,PORTACOELI-EVANGELIOS,12,2017,7.43,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204730,MUY GRAVE,AEROPUERTO LLEGADA T 1,12,2017,18.30,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204731,MUY GRAVE,AV SANTA EUGENIA 12,12,2017,22.02,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204732,MUY GRAVE,AV PABLO NERUDA FTE 91,12,2017,18.50,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,
204733,MUY GRAVE,CRISTO DE LA VICTORIA 110,12,2017,20.00,1000.0,SI,6,POLICIA MUNICIPAL,INCUMPLIR LA OBLIGACIÓNDE SOMETERSE A LAS PRUE...,,,,
204734,MUY GRAVE,MARIBLANCA 18,12,2017,19.05,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
204735,MUY GRAVE,CTA SAN VICENTE-BAILEN,12,2017,6.15,1000.0,SI,6,POLICIA MUNICIPAL,CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANIS...,,,,

Strings can be treaky...

In [29]:

df_multas[df_multas['LUGAR'] == ' LUIS DE HOYOS SAINZ FTE 196 ']

Empty DataFrame
Columns: [CALIFICACION, LUGAR, MES, ANIO, HORA, IMP_BOL, DESCUENTO, PUNTOS, DENUNCIANTE, HECHO-BOL, VEL_LIMITE, VEL_CIRCULA, COORDENADA_X, COORDENADA_Y]
Index: []

but with a bit of care...

In [30]:
mi_portal ="LUIS DE HOYOS SAINZ FTE 196".strip()

In [31]:
df_multas[df_multas['LUGAR'].str.strip() == mi_portal]

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,LUIS DE HOYOS SAINZ FTE 196,12,2017,13.0,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,

We can play with this dataframe... XD

In [50]:
df_multas[df_multas['LUGAR'].str.contains("FERNANDEZ DE LOS RIOS 12")]

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
11105,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,14.30,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
11108,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,14.52,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
13271,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,13.12,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
64688,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,17.26,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
113458,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,13.25,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,
123471,LEVE,CL FERNANDEZ DE LOS RIOS 12,12,2017,18.23,90.0,SI,0,SER,ESTACIONAR EN LUGAR PROHIBIDO DEBIDAMENTE SEÑA...,,,,

In [33]:
df_multas['IMP_BOL'].mean()

104.16942118497181

In [34]:
df_multas['IMP_BOL'].sum()

21335460.0

In [51]:
descuentos = df_multas['DESCUENTO']
descuentos.value_counts()

SI    204814
NO         1
Name: DESCUENTO, dtype: int64

In [55]:
df_multas[df_multas['DESCUENTO'] =='NO']

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
188166,GRAVE,EMBAJADORES-AV PLANETARIO,12,2017,13.34,300.0,NO,0,POLICIA MUNICIPAL,CIRCULAR TRANSPORTANDO MERCANCÍAS PELIGROSAS S...,,,,

In [57]:
maxima_multa = df_multas['IMP_BOL'].max()
maxima_multa

1000.0

In [59]:
df_multas[df_multas['IMP_BOL'] == maxima_multa]['HECHO-BOL'].unique()

array(['INCUMPLIR LA OBLIGACIÓNDE SOMETERSE A LAS PRUEBAS DE DETECCIÓN DE ALCOHOL O DE PRESENCIADE DROGAS EN EL ORGANISMO.           ',
       'CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMITIDA SUPERIOR A 0.50 MG/L EN AIRE ESPIRADO (0.30 MG/L NOVELES/PROF.)            ',
       'CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANISMO.                                                                            ',
       'CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMITIDA DE HASTA 0.50 MG/L EN AIRE ESPIRADO,CON ANTECEDENTES ART. 80.2.A) LSV.     '],
      dtype=object)

#### Exercise

Calculate the amount that the city hall took in, after discount. Assume that the discount is 50%, for each line that has 'SI' in column 'DESCUENTO'.

OJO: Un booleano se puede multiplicar por un número, actúa como 0 y 1.

In [64]:
df_multas['DESCUENTO_PCT'] = 0.5 *(df_multas['DESCUENTO'] == 'SI')
df_multas['DESCUENTO_PCT'].head()

0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
Name: DESCUENTO_PCT, dtype: float64

In [66]:
df_multas['DESCUENTO_PCT'].unique()

array([0.5, 0. ])

In [74]:
df_multas['IMPORTE_FINAL'] = df_multas['IMP_BOL'] * (1 - df_multas['DESCUENTO_PCT'])

Calcular el importe total recibido por cada tipo de infracción

In [75]:
df_multas.groupby('CALIFICACION')['IMPORTE_FINAL'].sum()

CALIFICACION
GRAVE         4718050.0
LEVE          5632080.0
MUY GRAVE      317750.0
Name: IMPORTE_FINAL, dtype: float64

Describir las diferentes infracciones que conllevan quitar puntos

In [88]:
df_multas[df_multas['PUNTOS'] >0]['HECHO-BOL'].unique()

array(['SOBREPASAR LA VELOCIDADMÁXIMA EN VÍAS LIMITADAS EN 60 km/h O MÁS.                                                            ',
       'EFECTUAR UN CAMBIO DE SENTIDO PROHIBIDO.                                                                                     ',
       'REBASAR UN SEMÁFORO EN FASE ROJA.                                                                                            ',
       'SOBREPASAR LA VELOCIDAD MEDIA EN TRAMO CONTROLADO.                                                                           ',
       'SOBREPASAR LA VELOCIDADMÁXIMA EN VÍAS LIMITADAS HASTA 50km/h.                                                                ',
       'UTILIZAR MANUALMENTE PANTALLAS, NAVEGADORES, DISPOSITIVO DE TELEFONIA, SISTEMA DE COMUNICACION O DE DETECCION DE RADAR       ',
       'CONDUCIR UTILIZANDO AURICULARES U OTROS DISPOSITIVOS QUE DISMINUYAN LA OBLIGATORIA ATENCION PERMANENTE A LA CONDUCCION       ',
       'NO OBEDECER LAS ÓRDENES DEL AGENTE QUE REGULA LA CIRCULACIÓN                                                                 ',
       'CIRCULAR SIN RESPETAR LA DISTANCIA MÍNIMA DE SEGURIDAD.                                                                      ',
       'INCUMPLIR LA OBLIGACIÓNDE SOMETERSE A LAS PRUEBAS DE DETECCIÓN DE ALCOHOL O DE PRESENCIADE DROGAS EN EL ORGANISMO.           ',
       'CIRCULAR EN SENTIDO CONTRARIO AL AUTORIZADO.                                                                                 ',
       'NO RESPETAR LA PREFERENCIA DE PASO.                                                                                          ',
       'EFECTUAR CAMBIO DE SENTIDO AUTORIZADO SIN LAS DEBIDAS PRECAUCIONES, CREANDO SITUACIÓN DE PELIGRO.                            ',
       'CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMITIDA SUPERIOR A 0.50 MG/L EN AIRE ESPIRADO (0.30 MG/L NOVELES/PROF.)            ',
       'NO RESPETAR LA PRIORIDAD DE PASO DE LOS PEATONES.                                                                            ',
       'CONDUCIR CON PRESENCIA DE DROGAS EN EL ORGANISMO.                                                                            ',
       'CONDUCCION TEMERARIA                                                                                                         ',
       'NO UTILIZAR EL CINTURÓN DE SEGURIDAD EL CONDUCTOR DEL VEHÍCULO O HACERLO DE FORMA INADECUADA.                                ',
       'TRANSPORTAR MENORES SINEL DISPOSITIVO DE RETENCIÓN HOMOLOGADO DE ACUERDO A SU TALLA, PESO Y EDAD (MENORES DE 135 CMS).       ',
       'NO OBECEDER AL AGENTE: PARA EL VHO Y APEANDOSE PEATONES                                                                      ',
       'NO RESPETAR LA SEÑAL DE STOP.                                                                                                ',
       'CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMITIDA DE HASTA 0.50 MG/L EN AIRE ESPIRADO (0.30 MG/L NOVELES/PROFESIONALES)      ',
       'CIRCULAR SIN HACER USO DEL CASCO PROTECTOR, CON CASCO NOHOMOLOGADO O USARLO DE FORMA INADECUADA.                             ',
       'ADELANTAR GENERANDO SITUACIÓN DE PELIGRO.                                                                                    ',
       'NO OBECEDER AL AGENTE: ORDEN DE PARAR Y CIRCULAR POR ZONA RESTRINGIDA                                                        ',
       'NO OBECEDER AL AGENTE: NO DETENERSE CUANDO AGENTE ORDENA ALTO                                                                ',
       'NO OBECEDER AL AGENTE: REBASA CORTE DE TRAFICO HACIENDO CASO OMISO                                                           ',
       'NO OBECEDER AL AGENTE: DE RETIRAR VHO DE LUGAR PROHIBIDO POR PLACAS VERTICALES                                               ',
       'NO OBECEDER AL AGENTE: LAS INDICACIONES CON BRAZOS Y SILBATO CONTINUANDO MARCHA                                              ',
       'NO OBECEDER AL AGENTE: NO HACE CASO A LAS SEÑALES LUMINOSAS EN CORTE DE CALLE                                                ',
       'NO OBECEDER AL AGENTE: SE LE INDICA DE FORMA CLARA QUE REALICE UN CAMBIO CARRIL                                              ',
       'CONDUCCION TEMERARIA: CONDUCIR A GRAN VELOCIDAD POR ACERA Y SENTIDO CONTRARIO                                                ',
       'CONDUCCION TEMERARIA: CIRCULA POR M 30 C 1 KM 22 FRENA SIN NINGUN MOTIVO                                                     ',
       'NO OBECEDER AL AGENTE: CORTADA CIRCULACION ORDENANDO CAMBIO DE SENTIDO                                                       ',
       'NO OBECEDER AL AGENTE: PARAR EL CALLE CORTADA POR FUEGO                                                                      ',
       'CONDUCCION TEMERARIA:                                                                                                        ',
       'NO OBECEDER AL AGENTE: EMPRENDE UNA MANIOBRA EVASIVA DANDOSE A LA FUGA                                                       ',
       'NO OBECEDER AL AGENTE: SE LE INDICA ACCESO RESTRINGIDO Y DESOBEDECE ORDEN                                                    ',
       'NO OBECEDER AL AGENTE: ORDEN DE NO PASR POR C ATOCHA POR TRAFICO RESTRINGIDO                                                 ',
       'NO OBECEDER AL AGENTE: CIRCULAR POR CALLE ATOCHA CUANDO ESTA PROHIBIDO                                                       ',
       'ARROJAR A LA VIA O SUS INMEDIACIONES OBJETOS QUE PUEDAN PRODUCIR INCENDIO, ACCIDENTE U OBSTACULIZACION DEL TRAFICO.          ',
       'NO OBECEDER AL AGENTE: SE LE INDICA EN 6 OCASIONES RETIRO VHO Y HACE CASO OMISO                                              ',
       'NO OBECEDER AL AGENTE: PARA EL VHO APEANDOSE LOS OCUPANTES                                                                   ',
       'NO OBECEDER AL AGENTE: NO OBEDECER LA SEÑAL DE ALTO DEL AGENTE                                                               ',
       'NO OBECEDER AL AGENTE: EL CONDUCTOR ESTA DENTRO DEL VHO Y SE LE INDICA RETIRE                                                ',
       'NO OBECEDER AL AGENTE: SE LE INDICA QUE EMPRENDA LA MARCHA DEBIDO A QUE SE ENCU                                              ',
       'NO OBECEDER AL AGENTE: ORDEN DE ALTO                                                                                         ',
       'NO OBECEDER AL AGENTE: SEÑAL DE DETENCION DEL VHO DEBIENDO DE CERRARLE EL PASO                                               ',
       'CONDUCCION TEMERARIA: VHO IMPLICADO EN HECHO DELICTIVO                                                                       ',
       'NO OBECEDER AL AGENTE:                                                                                                       ',
       'CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMITIDA DE HASTA 0.50 MG/L EN AIRE ESPIRADO,CON ANTECEDENTES ART. 80.2.A) LSV.     ',
       'ARRANCAR O CIRCULAR CON MOTOCICLETA O CICLOMOTOR APOYANDO UNA SOLA RUEDA EN LA CALZADA.                                      ',
       'NO OBECEDER AL AGENTE: ORDEN DE PARAR VEHICULO QUE ESTABAN EN CIRCULACION                                                    ',
       'NO OBECEDER AL AGENTE: QUE ESTA REGULANDO LA CIRCULACION                                                                     ',
       'NO OBECEDER AL AGENTE: SE INDICA DE FORMA CLARA QUE ESTA PROHIBIDO EL ACCESO                                                 ',
       'NO OBECEDER AL AGENTE: RETIRAR EL VEHICULO ESTACIONANDO MAS ADELANTE                                                         ',
       'NO OBECEDER AL AGENTE: PARADA EN CARRIL DCHO TENIENDO QUE FRENAR EL RESTO VHOS                                               ',
       'CONDUCCION TEMERARIA: REBASAR CUATRO SEMAFOROS EN FASE ROJA A GRAN VELOCIDAD                                                 ',
       'NO OBECEDER AL AGENTE: PARA DEJAR LA VIA PARA SERVICIO BOMBEROS POR INCENDIO                                                 ',
       'NO OBECEDER AL AGENTE: SE LE INDICA QUE NO PUEDE ACCEDER A GRAN VIA                                                          ',
       'CONDUCCION TEMERARIA: CIRCULA A VELOCIDAD ELEVADA REBADANDO SEMAFOROS EN ROJO                                                ',
       'NO OBECEDER AL AGENTE: CON MOTIVO DE LA REGULACION DE TRAFICO POR PARTE AGENTE                                               ',
       'CONDUCCION TEMERARIA: CONDUCE GRAN VELOCIDAD HUYENDO POLICIA                                                                 ',
       'CONDUCCION TEMERARIA: REALIZA TROMPOS Y GRAN VELOCIDAD                                                                       ',
       'NO OBECEDER AL AGENTE: ACCEDIENDO A ZONA RESTRINGIDA                                                                         ',
       'NO OBECEDER AL AGENTE: APARCAR EN ESQUINA A PESAR DE RECIBIR UNA ORDEN CLARA                                                 ',
       'NO OBECEDER AL AGENTE: DE CONTINUAR LA MARCHA POR EL CARRIL QUE LLEVA                                                        ',
       'CONDUCCION TEMERARIA: SENTIDO CONTRARIO REALIZANDO ADELANTAMIENTO                                                            ',
       'NO OBECEDER AL AGENTE: SE DA A LA FUGA POR UNA CALLE TRANSVERSAL                                                             ',
       'CONDUCCION TEMERARIA: CIRCULAR A GRAN VELOCIDAD POR VIA LIMITADA                                                             ',
       'CONDUCCION TEMERARIA: CIRCULA DETRAS AMBULANCIA EN SERVICIO DE URGENCIA                                                      ',
       'ADELANTAR PONIENDO EN PELIGRO A CICLISTAS.                                                                                   ',
       'NO OBECEDER AL AGENTE: ANTE SEÑAL DETENCION DEL AGENTE CONTINUA LA MARCHA                                                    ',
       'NO OBECEDER AL AGENTE: ORDEN DE CONTINUAR LA MARCHA                                                                          ',
       'CONDUCCION TEMERARIA: CREANDO SITUACION REAL DE PELIGRO ATROPELLANDO A PEATON                                                ',
       'CONDUCCION TEMERARIA: REALIZAR MANIOBRAS PELIGROSAS QUE OCASIONAN RIESGOS                                                    ',
       'NO OBECEDER AL AGENTE: NO RETIRA EL VEHICULO ATRAVESADO EN UN PASO DE PEATONES                                               ',
       'CONDUCCION TEMERARIA: CIRCULAR MAS DE 2 KM HABLANDO POR MOVIL SIN PREST ATENCI                                               ',
       'NO OBECEDER AL AGENTE: NO PARA EL VHO POR USAR DISPOSITIVO TELEFONIA MOVIL                                                   ',
       'NO OBECEDER AL AGENTE: CONTINUAR MARCHA POR MOTIVO DE UN CORTE DE VALLAS                                                     ',
       'NO OBECEDER AL AGENTE: DETENER EL VEHICULO EN CORTE DE TRAFICO HACE CASO OMISO                                               ',
       'NO OBECEDER AL AGENTE: LA ORDEN DE PARADA                                                                                    ',
       'CONDUCCION TEMERARIA: REBASA 2 SEMAFOROS EN ROJO Y NO SE DETIENE                                                             ',
       'NO OBECEDER AL AGENTE: LA ORDEN DE ALTO                                                                                      ',
       'NO OBECEDER AL AGENTE: SE LE INDICA QUE BAJE POR CTA SAN VICENTE Y SE NIEGA                                                  ',
       'NO OBECEDER AL AGENTE: CONTINUAR LA MARCHA CORTANDO LOS DOS CARRILES CIRCULACIO                                              ',
       'NO OBECEDER AL AGENTE: REBASAR UN CORTE DE TRAFICO DESOBEDECIENDO LAS ORDENES                                                ',
       'NO OBECEDER AL AGENTE: HACER CASO OMISO PARA INTRODUCIRSE EN UN PARKING                                                      ',
       'NO OBECEDER AL AGENTE: SE INDICA QUE ABANDONE LA VIA Y ESTACIONA DESPUES                                                     '],
      dtype=object)

Sacar lugar con más multas

In [105]:
grouped = df_multas.groupby('LUGAR');
grouped.size()

LUGAR
 3                                             1
 S/N                                           1
 S/N CR CARABANCHEL VILLA                     69
 S/N CR VILLAVERDE VALLEC                     60
0 117                                          1
0 165                                          1
0 177                                          1
0 179                                          1
1 SUR 10 E                                     1
1 SUR-1 SUR                                    3
1095 23                                        2
12 DE OCTUBRE S/N                              2
A 1 M 30 CALZADA 2                             1
A 2 M 30                                       1
A 3 AV GRAN VIA DEL SURESTE                    1
A 3 KM 10                                      1
A 3 LATERAL M 40 SUR                           1
A 3 VIA SERVICIO BOSCO                         2
A 4 KM 5                                       1
A 42 PZ FERNANDEZ LADREDA                      1
A 5 CARLINA                                    1
A 5 KM 5                                       1
A 5 KM 5,500                                   2
A 5 KM 6                                       1
A 5 KM 8                                       1
A 6 AV ARCO DE LA VICTORIA                     1
A5 KM 4.0 SALIDA                            3551
ABAD JUAN CATALAN 70                           8
ABADA 4                                        4
ABADA 9                                        1
                                            ...
ZARZALEJO-PZ CONDESA DE GAVIA                  1
ZARZUELA 28                                    2
ZAZUAR 15                                      5
ZAZUAR 2                                       1
ZAZUAR FAROLA 19                               1
ZAZUAR FAROLA 24                               1
ZAZUAR SN FAROLA 23                            1
ZAZUAR-AV MEDITERRANEO                         1
ZAZUAR-VIRGEN DE LAS VIÑAS                     1
ZIPAQUIRA-ZAPATOCA                             1
ZODIACO 13                                     3
ZOO PARKING SN                                 1
ZOO PUERTA PRINCIPAL                           1
ZORITA DE LA FRONTERA SN                       1
ZORRILLA 23                                    4
ZORRILLA-CEDACEROS                             1
ZORRILLA-MARQUES DE CUBAS                      1
ZORZAL-VISTALEGRE                              1
ZUBIETA 1                                      1
ZUERA 8                                        1
ZUERA-NATIVIDAD                                1
ZURBANO 70                                     1
ZURBANO 83                                     1
ZURBANO-BRETON DE LOS HERREROS                 1
ZURBARAN 1                                     1
ZURBARAN 18                                    1
ZURBARAN 2                                     3
ZURBARAN 26                                    2
ZURICH-SAJONIA                                 1
ZURICH-SAN MARINO                              1
Length: 32374, dtype: int64

#### Let's time it

In [107]:
df_multas = pd.read_csv(multas_path, sep=';', encoding='latin-1')

In [108]:
%%timeit
df_multas['DESCUENTO_PCT'] = .5 *(df_multas['DESCUENTO'] == 'SI')
df_multas['IMPORTE_FINAL'] = df_multas['IMP_BOL'] * (1 - df_multas['DESCUENTO_PCT'])

90.3 ms ± 1.54 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Saving to Excel

In order to save and read excels, pandas needs addtional modules: xlrd, xlwt and xlsxwriter or openpyxl

In [113]:
df[df['DEPARTURES_PERFORMED'] > 50].to_excel('out.xls')

In [ ]:
pd.ExcelWriter?

In [114]:
df[df['DEPARTURES_PERFORMED'] > 50].to_excel('out.xlsx')

# Saving to CSV

In [ ]:
df.to_csv('out.csv')

If we don't pass any argument, to_csv will return the contents of the DataFrame, in csv format, as a string.

In [ ]:
file_as_string = df.to_csv()

file_as_string[:100]

# To Sql Database

In [116]:
import sqlite3
conn = sqlite3.connect('example.db')

In [117]:
df.to_sql('traffic', conn)

/home/dsc/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

# To dictionary and to json

json is the most widely used data interchange format over the web.

In [ ]:
!pwd #only for unix

In [118]:
df[:3].to_dict()

{'AIRCRAFT_CONFIG': {0: 1, 1: 1, 2: 1},
 'AIRCRAFT_GROUP': {0: 6, 1: 6, 2: 6},
 'AIRCRAFT_TYPE': {0: 669, 1: 669, 2: 669},
 'AIRLINE_ID': {0: 21407.0, 1: 21407.0, 2: 21407.0},
 'AIR_TIME': {0: 0.0, 1: 0.0, 2: 0.0},
 'CARRIER': {0: '10Q', 1: '10Q', 2: '10Q'},
 'CARRIER_GROUP': {0: 0, 1: 0, 2: 0},
 'CARRIER_GROUP_NEW': {0: 0.0, 1: 0.0, 2: 0.0},
 'CARRIER_NAME': {0: 'Swiss Air Ambulance',
  1: 'Swiss Air Ambulance',
  2: 'Swiss Air Ambulance'},
 'CLASS': {0: 'L', 1: 'L', 2: 'L'},
 'DATA_SOURCE': {0: 'IF', 1: 'IF', 2: 'DF'},
 'DEPARTURES_PERFORMED': {0: 1.0, 1: 2.0, 2: 1.0},
 'DEPARTURES_SCHEDULED': {0: 0.0, 1: 0.0, 2: 0.0},
 'DEST': {0: 'BSL', 1: 'TEB', 2: 'MFE'},
 'DEST_AIRPORT_ID': {0: 10762, 1: 15167, 2: 13256},
 'DEST_AIRPORT_SEQ_ID': {0: 1076203, 1: 1516702, 2: 1325602},
 'DEST_CITY_MARKET_ID': {0: 30762, 1: 35167, 2: 33256},
 'DEST_CITY_NAME': {0: 'Mulhouse, France',
  1: 'Teterboro, NJ',
  2: 'Mission/McAllen/Edinburg, TX'},
 'DEST_COUNTRY': {0: 'FR', 1: 'US', 2: 'US'},
 'DEST_COUNTRY_NAME': {0: 'France', 1: 'United States', 2: 'United States'},
 'DEST_STATE_ABR': {0: nan, 1: 'NJ', 2: 'TX'},
 'DEST_STATE_FIPS': {0: nan, 1: 34.0, 2: 48.0},
 'DEST_STATE_NM': {0: nan, 1: 'New Jersey', 2: 'Texas'},
 'DEST_WAC': {0: 427, 1: 21, 2: 74},
 'DISTANCE': {0: 3899.0, 1: 2589.0, 2: 1210.0},
 'DISTANCE_GROUP': {0: 8, 1: 6, 2: 3},
 'FREIGHT': {0: 0.0, 1: 0.0, 2: 0.0},
 'MAIL': {0: 0.0, 1: 0.0, 2: 0.0},
 'MONTH': {0: 1, 1: 1, 2: 1},
 'ORIGIN': {0: 'EWR', 1: 'KEF', 2: 'LAS'},
 'ORIGIN_AIRPORT_ID': {0: 11618, 1: 12651, 2: 12889},
 'ORIGIN_AIRPORT_SEQ_ID': {0: 1161802, 1: 1265101, 2: 1288903},
 'ORIGIN_CITY_MARKET_ID': {0: 31703, 1: 32651, 2: 32211},
 'ORIGIN_CITY_NAME': {0: 'Newark, NJ',
  1: 'Keflavik/Reykjavik, Iceland',
  2: 'Las Vegas, NV'},
 'ORIGIN_COUNTRY': {0: 'US', 1: 'IS', 2: 'US'},
 'ORIGIN_COUNTRY_NAME': {0: 'United States', 1: 'Iceland', 2: 'United States'},
 'ORIGIN_STATE_ABR': {0: 'NJ', 1: nan, 2: 'NV'},
 'ORIGIN_STATE_FIPS': {0: 34.0, 1: nan, 2: 32.0},
 'ORIGIN_STATE_NM': {0: 'New Jersey', 1: nan, 2: 'Nevada'},
 'ORIGIN_WAC': {0: 21, 1: 439, 2: 85},
 'PASSENGERS': {0: 2.0, 1: 2.0, 2: 2.0},
 'PAYLOAD': {0: 528.0, 1: 3621.0, 2: 2169.0},
 'QUARTER': {0: 1, 1: 1, 2: 1},
 'RAMP_TO_RAMP': {0: 0.0, 1: 0.0, 2: 0.0},
 'REGION': {0: 'I', 1: 'I', 2: 'I'},
 'SEATS': {0: 11.0, 1: 22.0, 2: 11.0},
 'UNIQUE_CARRIER': {0: '10Q', 1: '10Q', 2: '10Q'},
 'UNIQUE_CARRIER_ENTITY': {0: '71084', 1: '71084', 2: '71084'},
 'UNIQUE_CARRIER_NAME': {0: 'Swiss Air Ambulance',
  1: 'Swiss Air Ambulance',
  2: 'Swiss Air Ambulance'},
 'Unnamed: 50': {0: nan, 1: nan, 2: nan},
 'YEAR': {0: 2015, 1: 2015, 2: 2015}}

In [119]:
df[:3].to_dict(orient='rows')

[{'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'IF',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'BSL',
  'DEST_AIRPORT_ID': 10762,
  'DEST_AIRPORT_SEQ_ID': 1076203,
  'DEST_CITY_MARKET_ID': 30762,
  'DEST_CITY_NAME': 'Mulhouse, France',
  'DEST_COUNTRY': 'FR',
  'DEST_COUNTRY_NAME': 'France',
  'DEST_STATE_ABR': nan,
  'DEST_STATE_FIPS': nan,
  'DEST_STATE_NM': nan,
  'DEST_WAC': 427,
  'DISTANCE': 3899.0,
  'DISTANCE_GROUP': 8,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'EWR',
  'ORIGIN_AIRPORT_ID': 11618,
  'ORIGIN_AIRPORT_SEQ_ID': 1161802,
  'ORIGIN_CITY_MARKET_ID': 31703,
  'ORIGIN_CITY_NAME': 'Newark, NJ',
  'ORIGIN_COUNTRY': 'US',
  'ORIGIN_COUNTRY_NAME': 'United States',
  'ORIGIN_STATE_ABR': 'NJ',
  'ORIGIN_STATE_FIPS': 34.0,
  'ORIGIN_STATE_NM': 'New Jersey',
  'ORIGIN_WAC': 21,
  'PASSENGERS': 2.0,
  'PAYLOAD': 528.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 11.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015},
 {'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'IF',
  'DEPARTURES_PERFORMED': 2.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'TEB',
  'DEST_AIRPORT_ID': 15167,
  'DEST_AIRPORT_SEQ_ID': 1516702,
  'DEST_CITY_MARKET_ID': 35167,
  'DEST_CITY_NAME': 'Teterboro, NJ',
  'DEST_COUNTRY': 'US',
  'DEST_COUNTRY_NAME': 'United States',
  'DEST_STATE_ABR': 'NJ',
  'DEST_STATE_FIPS': 34.0,
  'DEST_STATE_NM': 'New Jersey',
  'DEST_WAC': 21,
  'DISTANCE': 2589.0,
  'DISTANCE_GROUP': 6,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'KEF',
  'ORIGIN_AIRPORT_ID': 12651,
  'ORIGIN_AIRPORT_SEQ_ID': 1265101,
  'ORIGIN_CITY_MARKET_ID': 32651,
  'ORIGIN_CITY_NAME': 'Keflavik/Reykjavik, Iceland',
  'ORIGIN_COUNTRY': 'IS',
  'ORIGIN_COUNTRY_NAME': 'Iceland',
  'ORIGIN_STATE_ABR': nan,
  'ORIGIN_STATE_FIPS': nan,
  'ORIGIN_STATE_NM': nan,
  'ORIGIN_WAC': 439,
  'PASSENGERS': 2.0,
  'PAYLOAD': 3621.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 22.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015},
 {'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'DF',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'MFE',
  'DEST_AIRPORT_ID': 13256,
  'DEST_AIRPORT_SEQ_ID': 1325602,
  'DEST_CITY_MARKET_ID': 33256,
  'DEST_CITY_NAME': 'Mission/McAllen/Edinburg, TX',
  'DEST_COUNTRY': 'US',
  'DEST_COUNTRY_NAME': 'United States',
  'DEST_STATE_ABR': 'TX',
  'DEST_STATE_FIPS': 48.0,
  'DEST_STATE_NM': 'Texas',
  'DEST_WAC': 74,
  'DISTANCE': 1210.0,
  'DISTANCE_GROUP': 3,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'LAS',
  'ORIGIN_AIRPORT_ID': 12889,
  'ORIGIN_AIRPORT_SEQ_ID': 1288903,
  'ORIGIN_CITY_MARKET_ID': 32211,
  'ORIGIN_CITY_NAME': 'Las Vegas, NV',
  'ORIGIN_COUNTRY': 'US',
  'ORIGIN_COUNTRY_NAME': 'United States',
  'ORIGIN_STATE_ABR': 'NV',
  'ORIGIN_STATE_FIPS': 32.0,
  'ORIGIN_STATE_NM': 'Nevada',
  'ORIGIN_WAC': 85,
  'PASSENGERS': 2.0,
  'PAYLOAD': 2169.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 11.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015}]

In [115]:
df[:3].to_json()

'{"DEPARTURES_SCHEDULED":{"0":0.0,"1":0.0,"2":0.0},"DEPARTURES_PERFORMED":{"0":1.0,"1":2.0,"2":1.0},"PAYLOAD":{"0":528.0,"1":3621.0,"2":2169.0},"SEATS":{"0":11.0,"1":22.0,"2":11.0},"PASSENGERS":{"0":2.0,"1":2.0,"2":2.0},"FREIGHT":{"0":0.0,"1":0.0,"2":0.0},"MAIL":{"0":0.0,"1":0.0,"2":0.0},"DISTANCE":{"0":3899.0,"1":2589.0,"2":1210.0},"RAMP_TO_RAMP":{"0":0.0,"1":0.0,"2":0.0},"AIR_TIME":{"0":0.0,"1":0.0,"2":0.0},"UNIQUE_CARRIER":{"0":"10Q","1":"10Q","2":"10Q"},"AIRLINE_ID":{"0":21407.0,"1":21407.0,"2":21407.0},"UNIQUE_CARRIER_NAME":{"0":"Swiss Air Ambulance","1":"Swiss Air Ambulance","2":"Swiss Air Ambulance"},"UNIQUE_CARRIER_ENTITY":{"0":"71084","1":"71084","2":"71084"},"REGION":{"0":"I","1":"I","2":"I"},"CARRIER":{"0":"10Q","1":"10Q","2":"10Q"},"CARRIER_NAME":{"0":"Swiss Air Ambulance","1":"Swiss Air Ambulance","2":"Swiss Air Ambulance"},"CARRIER_GROUP":{"0":0,"1":0,"2":0},"CARRIER_GROUP_NEW":{"0":0.0,"1":0.0,"2":0.0},"ORIGIN_AIRPORT_ID":{"0":11618,"1":12651,"2":12889},"ORIGIN_AIRPORT_SEQ_ID":{"0":1161802,"1":1265101,"2":1288903},"ORIGIN_CITY_MARKET_ID":{"0":31703,"1":32651,"2":32211},"ORIGIN":{"0":"EWR","1":"KEF","2":"LAS"},"ORIGIN_CITY_NAME":{"0":"Newark, NJ","1":"Keflavik\\/Reykjavik, Iceland","2":"Las Vegas, NV"},"ORIGIN_STATE_ABR":{"0":"NJ","1":null,"2":"NV"},"ORIGIN_STATE_FIPS":{"0":34.0,"1":null,"2":32.0},"ORIGIN_STATE_NM":{"0":"New Jersey","1":null,"2":"Nevada"},"ORIGIN_COUNTRY":{"0":"US","1":"IS","2":"US"},"ORIGIN_COUNTRY_NAME":{"0":"United States","1":"Iceland","2":"United States"},"ORIGIN_WAC":{"0":21,"1":439,"2":85},"DEST_AIRPORT_ID":{"0":10762,"1":15167,"2":13256},"DEST_AIRPORT_SEQ_ID":{"0":1076203,"1":1516702,"2":1325602},"DEST_CITY_MARKET_ID":{"0":30762,"1":35167,"2":33256},"DEST":{"0":"BSL","1":"TEB","2":"MFE"},"DEST_CITY_NAME":{"0":"Mulhouse, France","1":"Teterboro, NJ","2":"Mission\\/McAllen\\/Edinburg, TX"},"DEST_STATE_ABR":{"0":null,"1":"NJ","2":"TX"},"DEST_STATE_FIPS":{"0":null,"1":34.0,"2":48.0},"DEST_STATE_NM":{"0":null,"1":"New Jersey","2":"Texas"},"DEST_COUNTRY":{"0":"FR","1":"US","2":"US"},"DEST_COUNTRY_NAME":{"0":"France","1":"United States","2":"United States"},"DEST_WAC":{"0":427,"1":21,"2":74},"AIRCRAFT_GROUP":{"0":6,"1":6,"2":6},"AIRCRAFT_TYPE":{"0":669,"1":669,"2":669},"AIRCRAFT_CONFIG":{"0":1,"1":1,"2":1},"YEAR":{"0":2015,"1":2015,"2":2015},"QUARTER":{"0":1,"1":1,"2":1},"MONTH":{"0":1,"1":1,"2":1},"DISTANCE_GROUP":{"0":8,"1":6,"2":3},"CLASS":{"0":"L","1":"L","2":"L"},"DATA_SOURCE":{"0":"IF","1":"IF","2":"DF"},"Unnamed: 50":{"0":null,"1":null,"2":null}}'

# Reading Excel

In [120]:
df2 = pd.read_excel('out.xls')
df2

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
37,0,61,5365411,18353,16933,571685,0,4395,0,0,...,6,627,1,2015,1,1,9,F,IF,NaN
42,0,61,5365411,18353,16827,1274568,0,4395,0,0,...,6,627,1,2015,1,1,9,F,IF,NaN
158,0,51,2706103,17384,13517,0,0,2002,0,0,...,6,627,1,2015,1,1,5,F,IF,NaN
159,0,51,2751949,17384,13746,0,0,2002,0,0,...,6,627,1,2015,1,1,5,F,IF,NaN
181,0,62,9292527,20584,16739,1505486,0,6504,0,0,...,6,637,1,2015,1,1,14,F,IF,NaN
186,0,62,9256991,20584,19123,1847391,0,6504,0,0,...,6,637,1,2015,1,1,14,F,IF,NaN
199,0,184,25907200,0,0,23870728,0,1506,0,0,...,6,696,2,2015,1,1,4,G,IF,NaN
201,0,62,8729600,0,0,7389870,0,1388,0,0,...,6,696,2,2015,1,1,3,G,IF,NaN
205,0,134,18867200,0,0,9486624,0,1506,0,0,...,6,696,2,2015,1,1,4,G,IF,NaN
212,0,59,4517040,17818,14384,309318,0,4661,0,0,...,6,696,1,2015,1,1,10,F,IF,NaN
218,0,59,3829100,17818,16328,82482,0,4661,0,0,...,6,696,1,2015,1,1,10,F,IF,NaN
225,0,51,4039200,14994,11012,392236,0,4095,0,0,...,8,871,1,2015,1,1,9,F,IF,NaN
301,0,584,700800,3254,2379,813,0,11,7673,5921,...,0,79,1,2015,1,1,1,L,DU,NaN
303,0,80,176000,640,570,1214,0,11,1212,972,...,1,194,1,2015,1,1,1,L,DU,NaN
309,0,579,694800,3224,2499,55,0,11,8843,7106,...,0,79,1,2015,1,1,1,L,DU,NaN
310,0,74,162800,592,528,0,0,11,1036,814,...,1,194,1,2015,1,1,1,L,DU,NaN
311,0,81,281756,729,367,4717,5838,56,3093,2445,...,4,415,1,2015,1,1,1,F,DU,NaN
313,0,89,310650,801,434,1326,37247,56,3929,3225,...,4,415,1,2015,1,1,1,F,DU,NaN
318,0,106,137800,530,206,625,8617,16,1488,1276,...,0,35,3,2015,1,1,1,F,DU,NaN
325,0,100,130000,500,191,75,335,16,1401,1201,...,0,35,3,2015,1,1,1,F,DU,NaN
551,0,77,562100,2306,1213,26319,23175,288,6281,5356,...,4,456,1,2015,1,1,1,F,DU,NaN
558,0,64,472050,1908,1256,16863,32765,329,5594,4862,...,4,456,1,2015,1,1,1,F,DU,NaN
560,0,159,1064650,4770,3308,12467,1646,792,29125,27364,...,4,456,1,2015,1,1,2,F,DU,NaN
572,0,59,440450,1935,526,0,0,201,4547,3019,...,4,456,1,2015,1,1,1,F,DU,NaN
573,0,70,522550,2286,675,0,0,333,6741,4820,...,4,456,1,2015,1,1,1,F,DU,NaN
581,0,62,464350,1858,1074,707,9615,329,4876,4360,...,4,456,1,2015,1,1,1,F,DU,NaN
586,0,204,1377900,6120,1215,71372,7150,792,35041,32896,...,4,456,1,2015,1,1,2,F,DU,NaN
590,0,59,440600,1935,483,0,0,201,4140,3021,...,4,456,1,2015,1,1,1,F,DU,NaN
592,0,71,529850,2322,824,0,0,333,7431,5945,...,4,456,1,2015,1,1,1,F,DU,NaN
737,0,53,8076130,18963,14745,887352,0,6799,0,0,...,6,637,1,2015,1,1,14,F,IF,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146907,521,521,625200,2863,1797,1530,0,11,6537,4974,...,0,79,1,2015,1,1,1,F,DU,NaN
146908,522,522,16314400,63611,51439,98011,0,102,21061,11784,...,6,608,1,2015,1,3,1,F,DU,NaN
146909,525,518,932400,4662,3167,0,0,96,24864,20202,...,1,125,1,2015,1,3,1,F,IU,NaN
146910,525,524,16386600,63537,44702,92078,0,102,21463,11860,...,6,608,1,2015,1,1,1,F,DU,NaN
146911,526,525,16411100,63590,49097,30821,0,102,18853,11227,...,6,608,1,2015,1,1,1,F,DU,NaN
146912,531,531,637200,2976,1863,157,0,11,6669,5076,...,0,79,1,2015,1,2,1,F,DU,NaN
146913,535,534,16690700,64497,53062,57292,0,163,25798,16485,...,6,608,1,2015,1,2,1,F,DU,NaN
146914,538,535,16727800,64735,52773,74516,0,163,24712,15107,...,6,608,1,2015,1,2,1,F,DU,NaN
146915,540,538,16820600,66329,52007,73443,0,163,24487,15770,...,6,608,1,2015,2,4,1,F,DU,NaN
146916,540,540,16886100,66610,49227,82500,0,163,24569,15292,...,6,608,1,2015,2,4,1,F,DU,NaN
146917,563,563,17612200,68584,58241,82918,0,163,25896,16034,...,6,608,1,2015,1,3,1,F,DU,NaN
146918,565,565,17672100,68765,57892,92282,0,163,26134,16973,...,6,608,1,2015,1,3,1,F,DU,NaN
146919,581,580,18142300,70285,51837,82410,0,163,26805,16405,...,6,608,1,2015,1,1,1,F,DU,NaN
146920,586,584,18261300,70702,56704,63820,0,163,27433,17747,...,6,608,1,2015,1,1,1,F,DU,NaN
146921,613,603,10733400,45828,37708,19396,0,129,28945,23735,...,4,482,1,2015,1,2,1,F,DU,NaN
146922,613,605,10769000,45980,37519,11802,0,129,26704,21896,...,4,482,1,2015,1,2,1,F,DU,NaN
146924,668,661,11765800,50236,38845,15019,0,129,32547,26706,...,4,482,1,2015,1,1,1,F,DU,NaN
146925,674,664,11819200,50464,39168,15244,0,129,30158,24722,...,4,482,1,2015,1,1,1,F,DU,NaN
146926,732,731,22832200,89768,67710,149891,0,100,29449,15869,...,6,608,1,2015,2,4,1,F,DU,NaN
146927,732,728,22741700,89409,68857,89972,0,100,27076,16569,...,6,608,1,2015,2,4,1,F,DU,NaN
146928,741,740,23118800,89280,68943,78235,0,100,30119,18038,...,6,608,1,2015,1,2,1,F,DU,NaN
146929,742,741,23148900,89348,68441,130509,0,100,29662,16174,...,6,608,1,2015,1,2,1,F,DU,NaN
146930,743,726,12922800,55176,43652,19569,0,129,34122,27982,...,4,482,1,2015,2,4,1,F,DU,NaN
146931,745,732,13029600,55632,43894,13763,0,129,32712,26813,...,4,482,1,2015,2,4,1,F,DU,NaN
146932,752,727,12940600,55252,44565,17728,0,129,32687,26808,...,4,482,1,2015,1,3,1,F,DU,NaN
146933,753,729,12976200,55404,44718,19043,0,129,34735,28484,...,4,482,1,2015,1,3,1,F,DU,NaN
146934,771,766,23919200,92783,73599,81189,0,100,29043,17873,...,6,608,1,2015,1,3,1,F,DU,NaN
146935,772,772,24101700,93441,72852,142730,0,100,31216,16561,...,6,608,1,2015,1,3,1,F,DU,NaN
146936,820,815,25438100,98355,70117,143209,0,100,32403,17414,...,6,608,1,2015,1,1,1,F,DU,NaN
146937,822,814,25423500,98382,75216,82020,0,100,32035,19536,...,6,608,1,2015,1,1,1,F,DU,NaN

import requests

response = requests.get('http://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls')
out = open('accidentes.xls', 'wb')
out.write(response.content)
out.close()

In [121]:
! wget 'http://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls'

--2019-01-12 12:48:51--  http://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls
Resolving datos.madrid.es (datos.madrid.es)... 149.235.17.74
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls [following]
--2019-01-12 12:48:54--  https://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://datos.madrid.es:443/egobfiles/MANUAL/207831/01_%20ACCIDENTES%20POR%20TIPO%20EN%20%20DISTRITOS.xls [following]
--2019-01-12 12:48:54--  https://datos.madrid.es/egobfiles/MANUAL/207831/01_%20ACCIDENTES%20POR%20TIPO%20EN%20%20DISTRITOS.xls
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61952 (60K) [application/vnd.ms-excel]
Saving to: ‘207831-0-accidentes-trafico.xls’

207831-0-accidentes 100%[===================>]  60,50K  --.-KB/s    in 0,1s

2019-01-12 12:48:54 (482 KB/s) - ‘207831-0-accidentes-trafico.xls’ saved [61952/61952]

In [169]:
pd.read_excel?

In [174]:
all_accidents = pd.read_excel('207831-0-accidentes-trafico.xls', index_col=0,usecols='A:K', header=7, sheet_name=None, skip_footer=1)
all_accidents['2013']

                                366  40  143   98     3  31   8  12     5  3.1
CARABANCHEL
CENTRO                          482  33  159  138   1.0  80   9  12  10.0  2.0
CHAMARTIN                       451  82  121   86   4.0  84   5   2   5.0  4.0
CHAMBERI                        414  30   67   91   1.0  87   9   7   4.0  5.0
CIUDAD LINEAL                   396  52  128   75   3.0  72  10   6   4.0  4.0
FUENCARRAL-EL PARDO             335  42  159   72   9.0  39   7  13   2.0  4.0
HORTALEZA                       171  18   77   51   3.0  33   8  10   1.0  2.0
LATINA                          248  29  110   95   4.0  24   4   4   5.0  7.0
MONCLOA-ARAVACA                 300  65  168   59  12.0  68   4  13   9.0  4.0
MORATALAZ                       132  14   39   53   7.0  23   5   5   1.0  3.0
PUENTE DE VALLECAS              334  37  125   94   5.0  35   8   8   4.0  1.0
RETIRO                          364  59   50   50   1.0  46   7  11   2.0  3.0
SALAMANCA                       570  70  133   89   2.0  90   9   8   6.0  5.0
SAN BLAS                        286  16   84   72   1.0  35   8  13   2.0  1.0
TETUAN                          314  35   69   84   NaN  68  15   3   4.0  2.0
USERA                           204  28   70   59   2.0  13   5   1   3.0  2.0
VICALVARO                        73   4   47   25   4.0  11   3   2   NaN  3.0
VILLA DE VALLECAS               124   4   59   40   2.0  15   2   1   1.0  2.0
VILLAVERDE                      163  11   58   64   NaN   9   1   1   NaN  NaN

In [175]:
for k, v in all_accidents.items():
    print(v)

                                COLISIÓN DOBLE                            \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           389
BARAJAS                                                               89
CARABANCHEL                                                          375
CENTRO                                                               514
CHAMARTIN                                                            494
CHAMBERI                                                             414
CIUDAD LINEAL                                                        398
FUENCARRAL-EL PARDO                                                  321
HORTALEZA                                                            215
LATINA                                                               298
MONCLOA-ARAVACA                                                      340
MORATALAZ                                                            151
PUENTE DE VALLECAS                                                   367
RETIRO                                                               369
SALAMANCA                                                            535
SAN BLAS                                                             301
TETUAN                                                               338
USERA                                                                214
VICALVARO                                                             86
VILLA DE VALLECAS                                                    142
VILLAVERDE                                                           148

                                COLISIÓN MÚLTIPLE                         \
DISTRITO_ACCIDENTE
ARGANZUELA                                                            54
BARAJAS                                                                6
CARABANCHEL                                                           44
CENTRO                                                                55
CHAMARTIN                                                             70
CHAMBERI                                                              35
CIUDAD LINEAL                                                         64
FUENCARRAL-EL PARDO                                                   47
HORTALEZA                                                             16
LATINA                                                                40
MONCLOA-ARAVACA                                                       57
MORATALAZ                                                             26
PUENTE DE VALLECAS                                                    54
RETIRO                                                                59
SALAMANCA                                                             56
SAN BLAS                                                              29
TETUAN                                                                23
USERA                                                                 24
VICALVARO                                                              6
VILLA DE VALLECAS                                                      6
VILLAVERDE                                                            19

                                CHOQUE CON OBJETO FIJO                    \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           126
BARAJAS                                                               53
CARABANCHEL                                                          171
CENTRO                                                               171
CHAMARTIN                                                            133
CHAMBERI                                                              87
CIUDAD LINEAL                                                        124
FUENCARRAL-EL PARDO                                                  151
HORTALEZA                                                            109
LATINA                                                               134
MONCLOA-ARAVACA                                                      210
MORATALAZ                                                             59
PUENTE DE VALLECAS                                                   196
RETIRO                                                                74
SALAMANCA                                                            122
SAN BLAS                                                              88
TETUAN                                                               115
USERA                                                                 96
VICALVARO                                                             39
VILLA DE VALLECAS                                                     67
VILLAVERDE                                                            65

                                ATROPELLO                                 \
DISTRITO_ACCIDENTE
ARGANZUELA                                                            75
BARAJAS                                                               21
CARABANCHEL                                                          137
CENTRO                                                               143
CHAMARTIN                                                             92
CHAMBERI                                                              87
CIUDAD LINEAL                                                        101
FUENCARRAL-EL PARDO                                                   78
HORTALEZA                                                             58
LATINA                                                                85
MONCLOA-ARAVACA                                                       71
MORATALAZ                                                             40
PUENTE DE VALLECAS                                                   122
RETIRO                                                                51
SALAMANCA                                                            104
SAN BLAS                                                              66
TETUAN                                                               101
USERA                                                                 53
VICALVARO                                                             15
VILLA DE VALLECAS                                                     36
VILLAVERDE                                                            46

                                VUELCO                                    \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           9.0
BARAJAS                                                              NaN
CARABANCHEL                                                          8.0
CENTRO                                                               NaN
CHAMARTIN                                                           10.0
CHAMBERI                                                             3.0
CIUDAD LINEAL                                                        3.0
FUENCARRAL-EL PARDO                                                 11.0
HORTALEZA                                                            3.0
LATINA                                                               7.0
MONCLOA-ARAVACA                                                     11.0
MORATALAZ                                                            NaN
PUENTE DE VALLECAS                                                   8.0
RETIRO                                                               4.0
SALAMANCA                                                            3.0
SAN BLAS                                                             3.0
TETUAN                                                               1.0
USERA                                                                1.0
VICALVARO                                                            6.0
VILLA DE VALLECAS                                                    3.0
VILLAVERDE                                                           4.0

                                CAÍDA MOTOCICLETA                         \
DISTRITO_ACCIDENTE
ARGANZUELA                                                            43
BARAJAS                                                               12
CARABANCHEL                                                           36
CENTRO                                                                61
CHAMARTIN                                                             72
CHAMBERI                                                              51
CIUDAD LINEAL                                                         57
FUENCARRAL-EL PARDO                                                   34
HORTALEZA                                                             29
LATINA                                                                24
MONCLOA-ARAVACA                                                       48
MORATALAZ                                                             23
PUENTE DE VALLECAS                                                    22
RETIRO                                                                48
SALAMANCA                                                            107
SAN BLAS                                                              20
TETUAN                                                                42
USERA                                                                 13
VICALVARO                                                              9
VILLA DE VALLECAS                                                      8
VILLAVERDE                                                             9

                                CAÍDA CICLOMOTOR                          \
DISTRITO_ACCIDENTE
ARGANZUELA                                                             9
BARAJAS                                                                2
CARABANCHEL                                                           13
CENTRO                                                                12
CHAMARTIN                                                             22
CHAMBERI                                                              12
CIUDAD LINEAL                                                         17
FUENCARRAL-EL PARDO                                                   16
HORTALEZA                                                             13
LATINA                                                                10
MONCLOA-ARAVACA                                                        8
MORATALAZ                                                              3
PUENTE DE VALLECAS                                                    14
RETIRO                                                                10
SALAMANCA                                                             31
SAN BLAS                                                              10
TETUAN                                                                15
USERA                                                                  2
VICALVARO                                                              4
VILLA DE VALLECAS                                                      4
VILLAVERDE                                                             4

                                CAÍDA BICICLETA                           \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           4.0
BARAJAS                                                              1.0
CARABANCHEL                                                          6.0
CENTRO                                                               3.0
CHAMARTIN                                                            2.0
CHAMBERI                                                             4.0
CIUDAD LINEAL                                                        5.0
FUENCARRAL-EL PARDO                                                  7.0
HORTALEZA                                                            7.0
LATINA                                                               2.0
MONCLOA-ARAVACA                                                      7.0
MORATALAZ                                                            2.0
PUENTE DE VALLECAS                                                   2.0
RETIRO                                                               8.0
SALAMANCA                                                            NaN
SAN BLAS                                                             3.0
TETUAN                                                               5.0
USERA                                                                1.0
VICALVARO                                                            3.0
VILLA DE VALLECAS                                                    1.0
VILLAVERDE                                                           3.0

                                CAÍDA VIAJERO BUS                         \
DISTRITO_ACCIDENTE
ARGANZUELA                                                             5
BARAJAS                                                                2
CARABANCHEL                                                            9
CENTRO                                                                10
CHAMARTIN                                                              6
CHAMBERI                                                               4
CIUDAD LINEAL                                                          4
FUENCARRAL-EL PARDO                                                    2
HORTALEZA                                                              4
LATINA                                                                 9
MONCLOA-ARAVACA                                                        1
MORATALAZ                                                              3
PUENTE DE VALLECAS                                                     5
RETIRO                                                                 6
SALAMANCA                                                              5
SAN BLAS                                                               2
TETUAN                                                                 7
USERA                                                                  4
VICALVARO                                                              2
VILLA DE VALLECAS                                                      2
VILLAVERDE                                                             1

                                OTRAS CAUSAS
DISTRITO_ACCIDENTE
ARGANZUELA                                                             8
BARAJAS                                                                2
CARABANCHEL                                                            8
CENTRO                                                                12
CHAMARTIN                                                              7
CHAMBERI                                                               5
CIUDAD LINEAL                                                          4
FUENCARRAL-EL PARDO                                                    8
HORTALEZA                                                              4
LATINA                                                                11
MONCLOA-ARAVACA                                                       13
MORATALAZ                                                              4
PUENTE DE VALLECAS                                                    11
RETIRO                                                                 6
SALAMANCA                                                              2
SAN BLAS                                                               5
TETUAN                                                                 8
USERA                                                                  3
VICALVARO                                                              2
VILLA DE VALLECAS                                                      3
VILLAVERDE                                                             8
                                COLISIÓN DOBLE                            \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           403
BARAJAS                                                               62
CARABANCHEL                                                          357
CENTRO                                                               546
CHAMARTIN                                                            460
CHAMBERI                                                             361
CIUDAD LINEAL                                                        404
FUENCARRAL-EL PARDO                                                  294
HORTALEZA                                                            183
LATINA                                                               273
MONCLOA-ARAVACA                                                      350
MORATALAZ                                                            127
PUENTE DE VALLECAS                                                   324
RETIRO                                                               349
SALAMANCA                                                            506
SAN BLAS                                                             274
TETUAN                                                               331
USERA                                                                178
VICALVARO                                                             65
VILLA DE VALLECAS                                                    124
VILLAVERDE                                                           147

                                COLISIÓN MÚLTIPLE                         \
DISTRITO_ACCIDENTE
ARGANZUELA                                                            48
BARAJAS                                                                5
CARABANCHEL                                                           35
CENTRO                                                                43
CHAMARTIN                                                             67
CHAMBERI                                                              34
CIUDAD LINEAL                                                         79
FUENCARRAL-EL PARDO                                                   49
HORTALEZA                                                             15
LATINA                                                                37
MONCLOA-ARAVACA                                                       47
MORATALAZ                                                             21
PUENTE DE VALLECAS                                                    44
RETIRO                                                                55
SALAMANCA                                                             44
SAN BLAS                                                              27
TETUAN                                                                25
USERA                                                                 36
VICALVARO                                                              4
VILLA DE VALLECAS                                                      9
VILLAVERDE                                                            21

                                CHOQUE CON OBJETO FIJO                    \
DISTRITO_ACCIDENTE
ARGANZUELA                                                           103
BARAJAS                                                               34
CARABANCHEL                                                          133
CENTRO                                                               142
CHAMARTIN                                                            128

#### Exercise (homework)

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [184]:
for año, dataframe in all_accidents.items():
    dataframe['AÑO'] = año

In [196]:
solo_hasta_2012=  filter(lambda frame : int(frame["AÑO"][0]) < 2013,   all_accidents.values())
concatenated = pd.concat(solo_hasta_2012 )

In [197]:
concatenated

,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,AÑO
DISTRITO_ACCIDENTE,,,,,,,,,,,
ARGANZUELA,389,54,126,75,9.0,43,9.0,4.0,5.0,8.0,2009
BARAJAS,89,6,53,21,NaN,12,2.0,1.0,2.0,2.0,2009
CARABANCHEL,375,44,171,137,8.0,36,13.0,6.0,9.0,8.0,2009
CENTRO,514,55,171,143,NaN,61,12.0,3.0,10.0,12.0,2009
CHAMARTIN,494,70,133,92,10.0,72,22.0,2.0,6.0,7.0,2009
CHAMBERI,414,35,87,87,3.0,51,12.0,4.0,4.0,5.0,2009
CIUDAD LINEAL,398,64,124,101,3.0,57,17.0,5.0,4.0,4.0,2009
FUENCARRAL-EL PARDO,321,47,151,78,11.0,34,16.0,7.0,2.0,8.0,2009
HORTALEZA,215,16,109,58,3.0,29,13.0,7.0,4.0,4.0,2009
LATINA,298,40,134,85,7.0,24,10.0,2.0,9.0,11.0,2009
MONCLOA-ARAVACA,340,57,210,71,11.0,48,8.0,7.0,1.0,13.0,2009
MORATALAZ,151,26,59,40,NaN,23,3.0,2.0,3.0,4.0,2009
PUENTE DE VALLECAS,367,54,196,122,8.0,22,14.0,2.0,5.0,11.0,2009
RETIRO,369,59,74,51,4.0,48,10.0,8.0,6.0,6.0,2009
SALAMANCA,535,56,122,104,3.0,107,31.0,NaN,5.0,2.0,2009
SAN BLAS,301,29,88,66,3.0,20,10.0,3.0,2.0,5.0,2009
TETUAN,338,23,115,101,1.0,42,15.0,5.0,7.0,8.0,2009
USERA,214,24,96,53,1.0,13,2.0,1.0,4.0,3.0,2009
VICALVARO,86,6,39,15,6.0,9,4.0,3.0,2.0,2.0,2009
VILLA DE VALLECAS,142,6,67,36,3.0,8,4.0,1.0,2.0,3.0,2009
VILLAVERDE,148,19,65,46,4.0,9,4.0,3.0,1.0,8.0,2009
ARGANZUELA,403,48,103,75,7.0,26,15.0,2.0,5.0,6.0,2010
BARAJAS,62,5,34,22,1.0,11,NaN,NaN,NaN,NaN,2010
CARABANCHEL,357,35,133,114,7.0,22,14.0,6.0,7.0,1.0,2010
CENTRO,546,43,142,169,2.0,60,14.0,9.0,13.0,9.0,2010
CHAMARTIN,460,67,128,85,11.0,77,16.0,1.0,8.0,5.0,2010
CHAMBERI,361,34,86,103,1.0,66,14.0,5.0,2.0,4.0,2010
CIUDAD LINEAL,404,79,120,90,8.0,39,12.0,6.0,7.0,2.0,2010
FUENCARRAL-EL PARDO,294,49,165,72,10.0,26,9.0,6.0,3.0,2.0,2010
HORTALEZA,183,15,68,44,4.0,11,8.0,4.0,3.0,3.0,2010
...,...,...,...,...,...,...,...,...,...,...,...
PUENTE DE VALLECAS,344,54,182,116,4.0,30,14.0,3.0,1.0,4.0,2011
RETIRO,367,73,71,68,3.0,50,9.0,6.0,6.0,5.0,2011
SALAMANCA,528,69,132,97,1.0,82,17.0,5.0,3.0,6.0,2011
SAN BLAS,285,25,74,71,2.0,32,8.0,5.0,2.0,1.0,2011
TETUAN,321,23,76,87,NaN,60,15.0,4.0,2.0,1.0,2011
USERA,179,25,67,75,3.0,14,1.0,NaN,4.0,1.0,2011
VICALVARO,73,9,43,22,2.0,10,1.0,1.0,2.0,4.0,2011
VILLA DE VALLECAS,129,8,44,34,4.0,11,3.0,2.0,1.0,1.0,2011
VILLAVERDE,140,10,75,46,1.0,5,5.0,1.0,3.0,2.0,2011
ARGANZUELA,376,49,77,66,5.0,42,10.0,2.0,3.0,1.0,2012
BARAJAS,82,5,36,19,2.0,7,3.0,2.0,NaN,3.0,2012
CARABANCHEL,350,46,153,118,1.0,28,8.0,6.0,6.0,2.0,2012
CENTRO,491,42,135,125,2.0,81,20.0,10.0,2.0,9.0,2012
CHAMARTIN,464,62,119,82,5.0,75,16.0,4.0,10.0,4.0,2012
CHAMBERI,418,34,80,95,NaN,71,7.0,NaN,3.0,3.0,2012
CIUDAD LINEAL,391,52,122,72,7.0,41,11.0,6.0,3.0,6.0,2012
FUENCARRAL-EL PARDO,317,49,141,78,18.0,36,11.0,11.0,4.0,5.0,2012
HORTALEZA,170,19,80,54,2.0,20,10.0,6.0,4.0,2.0,2012
LATINA,248,33,100,107,3.0,27,8.0,12.0,5.0,5.0,2012
MONCLOA-ARAVACA,292,65,154,56,8.0,65,7.0,24.0,4.0,3.0,2012
MORATALAZ,134,37,58,29,6.0,18,2.0,2.0,NaN,NaN,2012
PUENTE DE VALLECAS,340,48,151,116,5.0,28,11.0,4.0,4.0,6.0,2012
RETIRO,370,65,64,54,1.0,48,13.0,3.0,6.0,2.0,2012
SALAMANCA,633,60,131,90,6.0,83,10.0,4.0,7.0,9.0,2012
SAN BLAS,265,45,74,65,1.0,19,10.0,12.0,1.0,2.0,2012
TETUAN,324,26,69,96,4.0,40,12.0,3.0,2.0,1.0,2012
USERA,182,23,81,63,1.0,10,5.0,4.0,5.0,4.0,2012
VICALVARO,64,5,43,24,10.0,5,5.0,NaN,NaN,1.0,2012
VILLA DE VALLECAS,119,6,44,35,3.0,17,6.0,4.0,NaN,4.0,2012
VILLAVERDE,140,13,62,52,2.0,13,2.0,7.0,NaN,2.0,2012

Como

# Reading mysql database

In [198]:
pd.read_sql_query('SELECT * FROM traffic WHERE SEATS > 160', conn)

,index,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,14,0.0,9.0,562962.0,2548.0,2154.0,0.0,0.0,2188.0,0.0,...,6,696,1,2015,1,1,5,F,IF,None
1,15,0.0,18.0,1237995.0,5159.0,4905.0,0.0,0.0,1873.0,0.0,...,6,696,1,2015,1,1,4,F,IF,None
2,16,0.0,9.0,565173.0,2595.0,2156.0,0.0,0.0,2188.0,0.0,...,6,696,1,2015,1,1,5,F,IF,None
3,17,0.0,18.0,1237436.0,5109.0,4855.0,0.0,0.0,1873.0,0.0,...,6,696,1,2015,1,1,4,F,IF,None
4,18,0.0,4.0,404800.0,1260.0,558.0,0.0,0.0,5713.0,0.0,...,6,696,1,2015,1,1,12,F,IF,None
5,19,0.0,9.0,910800.0,2835.0,1666.0,2882.0,0.0,4879.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
6,20,0.0,4.0,404800.0,1260.0,833.0,0.0,0.0,5713.0,0.0,...,6,696,1,2015,1,1,12,F,IF,None
7,21,0.0,9.0,910800.0,2835.0,1758.0,39954.0,0.0,4879.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
8,22,0.0,23.0,2345933.0,6793.0,4946.0,454689.0,0.0,3749.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
9,23,0.0,29.0,2557427.0,8525.0,7094.0,621786.0,0.0,4733.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
10,24,0.0,12.0,1049765.0,3569.0,2435.0,224246.0,0.0,4757.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
11,25,0.0,23.0,2401058.0,6793.0,5503.0,647284.0,0.0,3749.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
12,26,0.0,21.0,2199395.0,6180.0,4683.0,573408.0,0.0,3968.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
13,27,0.0,29.0,3020211.0,8530.0,7791.0,455231.0,0.0,4733.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
14,28,0.0,22.0,2294431.0,6480.0,5596.0,507333.0,0.0,4974.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
15,29,0.0,14.0,1466137.0,4130.0,2468.0,249731.0,0.0,4413.0,0.0,...,6,696,1,2015,1,1,9,F,IF,None
16,30,0.0,12.0,1250181.0,3569.0,2770.0,102414.0,0.0,4757.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
17,31,0.0,21.0,2146910.0,6180.0,4639.0,430676.0,0.0,3968.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
18,32,0.0,22.0,1924391.0,6485.0,5006.0,286066.0,0.0,4974.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
19,33,0.0,14.0,1435498.0,4130.0,2791.0,310264.0,0.0,4413.0,0.0,...,6,696,1,2015,1,1,9,F,IF,None
20,37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,...,6,627,1,2015,1,1,9,F,IF,None
21,40,0.0,27.0,2251555.0,7074.0,5876.0,435222.0,0.0,3449.0,0.0,...,6,627,1,2015,1,1,7,F,IF,None
22,41,0.0,2.0,225601.0,606.0,495.0,17604.0,0.0,3449.0,0.0,...,6,637,1,2015,1,1,7,F,IF,None
23,42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,...,6,627,1,2015,1,1,9,F,IF,None
24,43,0.0,28.0,2333124.0,7321.0,6217.0,501391.0,0.0,3449.0,0.0,...,6,627,1,2015,1,1,7,F,IF,None
25,44,0.0,2.0,225601.0,606.0,573.0,73366.0,0.0,3449.0,0.0,...,6,637,1,2015,1,1,7,F,IF,None
26,45,0.0,1.0,83875.0,275.0,264.0,7383.0,0.0,3937.0,0.0,...,8,873,1,2015,1,1,8,F,IF,None
27,46,0.0,2.0,138283.0,416.0,391.0,27720.0,0.0,3962.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
28,47,0.0,20.0,1677500.0,5500.0,4838.0,365198.0,0.0,3962.0,0.0,...,8,873,1,2015,1,1,8,F,IF,None
29,48,0.0,5.0,407847.0,1235.0,1089.0,95256.0,0.0,3861.0,0.0,...,6,627,1,2015,1,1,8,F,IF,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90109,146908,522.0,522.0,16314400.0,63611.0,51439.0,98011.0,0.0,102.0,21061.0,...,6,608,1,2015,1,3,1,F,DU,None
90110,146909,525.0,518.0,932400.0,4662.0,3167.0,0.0,0.0,96.0,24864.0,...,1,125,1,2015,1,3,1,F,IU,None
90111,146910,525.0,524.0,16386600.0,63537.0,44702.0,92078.0,0.0,102.0,21463.0,...,6,608,1,2015,1,1,1,F,DU,None
90112,146911,526.0,525.0,16411100.0,63590.0,49097.0,30821.0,0.0,102.0,18853.0,...,6,608,1,2015,1,1,1,F,DU,None
90113,146912,531.0,531.0,637200.0,2976.0,1863.0,157.0,0.0,11.0,6669.0,...,0,79,1,2015,1,2,1,F,DU,None
90114,146913,535.0,534.0,16690700.0,64497.0,53062.0,57292.0,0.0,163.0,25798.0,...,6,608,1,2015,1,2,1,F,DU,None
90115,146914,538.0,535.0,16727800.0,64735.0,52773.0,74516.0,0.0,163.0,24712.0,...,6,608,1,2015,1,2,1,F,DU,None
90116,146915,540.0,538.0,16820600.0,66329.0,52007.0,73443.0,0.0,163.0,24487.0,...,6,608,1,2015,2,4,1,F,DU,None
90117,146916,540.0,540.0,16886100.0,66610.0,49227.0,82500.0,0.0,163.0,24569.0,...,6,608,1,2015,2,4,1,F,DU,None
90118,146917,563.0,563.0,17612200.0,68584.0,58241.0,82918.0,0.0,163.0,25896.0,...,6,608,1,2015,1,3,1,F,DU,None
90119,146918,565.0,565.0,17672100.0,68765.0,57892.0,92282.0,0.0,163.0,26134.0,...,6,608,1,2015,1,3,1,F,DU,None
90120,146919,581.0,580.0,18142300.0,70285.0,51837.0,82410.0,0.0,163.0,26805.0,...,6,608,1,2015,1,1,1,F,DU,None
90121,146920,586.0,584.0,18261300.0,70702.0,56704.0,63820.0,0.0,163.0,27433.0,...,6,608,1,2015,1,1,1,F,DU,None
90122,146921,613.0,603.0,10733400.0,45828.0,37708.0,19396.0,0.0,129.0,28945.0,...,4,482,1,2015,1,2,1,F,DU,None
90123,146922,613.0,605.0,10769000.0,45980.0,37519.0,11802.0,0.0,129.0,26704.0,...,4,482,1,2015,1,2,1,F,DU,None
90124,146923,648.0,23.0,4907970.0,439.0,0.0,1094446.0,151.0,330.0,1506.0,...,6,625,2,2015,1,3,1,G,DU,None
90125,146924,668.0,661.0,11765800.0,50236.0,38845.0,15019.0,0.0,129.0,32547.0,...,4,482,1,2015,1,1,1,F,DU,None
90126,146925,674.0,664.0,11819200.0,50464.0,39168.0,15244.0,0.0,129.0,30158.0,...,4,482,1,2015,1,1,1,F,DU,None
90127,146926,732.0,731.0,22832200.0,89768.0,67710.0,149891.0,0.0,100.0,29449.0,...,6,608,1,2015,2,4,1,F,DU,None
90128,146927,732.0,728.0,22741700.0,89409.0,68857.0,89972.0,0.0,100.0,27076.0,...,6,608,1,2015,2,4,1,F,DU,None
90129,146928,741.0,740.0,23118800.0,89280.0,68943.0,78235.0,0.0,100.0,30119.0,...,6,608,1,2015,1,2,1,F,DU,None
90130,146929,742.0,741.0,23148900.0,89348.0,68441.0,130509.0,0.0,100.0,29662.0,...,6,608,1,2015,1,2,1,F,DU,None
90131,146930,743.0,726.0,12922800.0,55176.0,43652.0,19569.0,0.0,129.0,34122.0,...,4,482,1,2015,2,4,1,F,DU,None
90132,146931,745.0,732.0,13029600.0,55632.0,43894.0,13763.0,0.0,129.0,32712.0,...,4,482,1,2015,2,4,1,F,DU,None
90133,146932,752.0,727.0,12940600.0,55252.0,44565.0,17728.0,0.0,129.0,32687.0,...,4,482,1,2015,1,3,1,F,DU,None
90134,146933,753.0,729.0,12976200.0,55404.0,44718.0,19043.0,0.0,129.0,34735.0,...,4,482,1,2015,1,3,1,F,DU,None
90135,146934,771.0,766.0,23919200.0,92783.0,73599.0,81189.0,0.0,100.0,29043.0,...,6,608,1,2015,1,3,1,F,DU,None
90136,146935,772.0,772.0,24101700.0,93441.0,72852.0,142730.0,0.0,100.0,31216.0,...,6,608,1,2015,1,3,1,F,DU,None
90137,146936,820.0,815.0,25438100.0,98355.0,70117.0,143209.0,0.0,100.0,32403.0,...,6,608,1,2015,1,1,1,F,DU,None
90138,146937,822.0,814.0,25423500.0,98382.0,75216.0,82020.0,0.0,100.0,32035.0,...,6,608,1,2015,1,1,1,F,DU,None